<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Examples</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>helper_3dmath.h</string>
		</array>
		<array>
			<string>MPU6050.cpp</string>
		</array>
		<array>
			<string>MPU6050.h</string>
		</array>
		<array>
			<string>MPU6050_6Axis_MotionApps20.h</string>
		</array>
		<array>
			<string>MPU6050_9Axis_MotionApps41.h</string>
		</array>
	</array>
</dict>
</plist>
